html {
}

body {
}

table {
    width: 750px;
}

    table tr {
        border: 1px solid #aaaaaa;
    }

        table tr td {
            border: 1px solid #aaaaaa;
            padding: 5px;
        }

a {
    text-decoration: none !important;
}

.clear {
    width: 0px;
    height: 0px;
    clear: both;
}

.center {
    width: 1350px;
    margin: auto auto;
}

.margin-left-20 {
    margin-left: 20px;
}

.menu_area {
    width: 100%;
    height: 65px;
    background-image: url('../images/menu_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 10px;
}

.content {
    width: 1100px;
    height: auto;
    margin: auto auto;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    float: right;
}

.tt-logo {
    float: left;
}

.nav {
    position: absolute;
    list-style: none;
    padding: 0px;
}

.nav-li {
    float: left;
    font-family: 'Encode Sans', sans-serif;
}

.nav a {
    font-size: 12px;
    text-decoration: none;
    color: white !important;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 5px;
}

    .nav a:hover {
        color: #00a5d5 !important;
        zoom: 1.01;
    }

.ic1 {
    width: 31px;
    height: 30px;
    background-image: url('../images/ana_sayfa.png');
    display: inline-block;
    margin-top: -7px;
}

.ic2 {
    width: 31px;
    height: 30px;
    background-image: url('../images/marka.png');
    display: inline-block;
    margin-top: -7px;
}

.ic3 {
    width: 31px;
    height: 30px;
    background-image: url('../images/sadakat.png');
    display: inline-block;
    margin-top: -7px;
}

.ic4 {
    width: 31px;
    height: 30px;
    background-image: url('../images/saglik.png');
    display: inline-block;
    margin-top: -7px;
}

.ic5 {
    width: 31px;
    height: 30px;
    background-image: url('../images/tarife.png');
    display: inline-block;
    margin-top: -7px;
}

.ic6 {
    width: 31px;
    height: 30px;
    background-image: url('../images/kidem.png');
    display: inline-block;
    margin-top: -7px;
}

.ic7 {
    width: 31px;
    height: 30px;
    background-image: url('../images/kobi.png');
    display: inline-block;
    margin-top: -7px;
}


.home-video {
   z-index:9
}

.home-video-text {
    width: 100%;
    height: auto;
    margin: auto auto;
    padding-top: 270px;
    color: white;
    padding-left: 450px;
}

.colomn-left {
    width: auto;
    height: auto;
    border-right-style: groove;
    float: left;
    padding-right: 10px;
    max-width: 30%;
}

.colomn-right {
    width: 85%;
    height: auto;
    float: left;
    margin-left: 10px;
    max-width: 65%;
}
.icon {
    display: none;
    color:#ffffff;
}

@media screen and (max-width: 1024px) {
    .icon {
        display: block;
        padding-left:10px;
        padding-top:15px;
    }
    .center{
        display:none;
    }

    .colomn-left {
        width: 100%;
        max-width: 100%;
        clear: both;
        border-right-style: none;
    }

    .colomn-right {
        width: 100%;
        max-width: 90%;
        clear: both;
        
    }
    .content{
        width:90%!important;
    }
    .home-video{
        width:98%!important;
    }
    .colomn-right table{
        width:100%!important;
    }
}

.mobilmenu{
    display:none;
    
}
.mobilmenuopen {
    position: absolute;
    background-color: white;
    display: block;
    color: #000000;
    width: 300px;
    z-index:9999999;
}

.mobilmenuopen a {
    font-family: 'Encode Sans', sans-serif;
}

    .mobilmenuopen a {
        font-size: 12px;
        text-decoration: none;
        color: black !important;
        vertical-align: top;
    }
