@import "colors", "mixin";

.card.gen .actual-price {
  display: block;
  margin-top: 15px;
}

footer {
  .block h2 {
    padding-bottom: 15px;
    border-color: $renksb;
  }

  .list-group {
    padding-left: 11px !important;
  }
}

.footer-lower {
  padding-top: 5px;
  border-color: $renksb;
}

.headBottom {
  padding: 10px 0;
}

.topic-page {
  padding-top: 30px;
}

.generalTitle {
  padding-bottom: 15px;
}

.d-lg-flex {
  .generalMarginSupporter {
    @extend .bdrs;
    padding: 10px;
    background: #f4f4f4;

    label,
    span {
      display: block;
      margin-bottom: 5px !important;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
}

.categoryGrid a.viewmode-icon,
.manufacturerGrid a.viewmode-icon {
  border-color: #fff !important;
}

#block-recently-viewed-products {
  .mb-1 {
    margin-bottom: 10px !important;
  }
}

.pagination .page-item.current-page .page-link {
  background: #0041c0 !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  width: 250px;
}

.also-purchased-products-grid {
  margin-top: 30px;
}

.product-price {
  color: #1c0674;
  font-size: 1.5rem;
}

.product-tabs {
  margin-top: 30px;
}

.breadcrumb {
  font-size: 0.9rem;

  a {
    color: #0041c0;
  }
}

#back-to-top {
  border-radius: 50%;
}

.modal-content .bg-info {
  @extend .bdrs;
  border: 1px solid #c3e6cb;
  background-color: #d4edda !important;
  color: #155724;

  .text-white {
    color: #155724 !important;
  }
}

#ModalAddToCart .close {
  top: 28px;
  right: 25px;
}

#ModalAddToCart {
  .modal-padding-off {
    @extend .bdrs;
    border-color: #bee5eb;
    background-color: #d1ecf1;
    color: #0c5460;

    .form-group {
      margin-top: 10px;
      font-weight: 500;
    }
  }
}

.eu-cookie-bar-notification{
  background: rgba(#000000, 0.7) !important;
  font-size: .8rem !important;
  padding: 10px !important;
}
@import 'style1200', 'style992', 'style768', 'style576';
