@{
    Layout = "_ConfigurePlugin";
}
<form asp-controller="ClearShoppingCards" asp-action="Index" method="post">
    <h4>Sistemde mevcut alışveriş sepetlerini temizlemek için aşağıdaki butona tıklayınız:</h4><br />
    <button type="submit" class="btn btn-danger">Temizle</button>
</form>